/* Footer */
.footer {
    text-align: center;

    &__icons-container {
        display: none;
    }

    &__link {
        text-decoration: none;
    }

    &__copyright {
        margin-top: 10px;
    }
}