/* Header */
.header {
    width: 100%;
    position: absolute;
    z-index: 55;

    &__nav {
        position: relative;
        padding: 0;
        background-color: inherit;

        @media screen and (min-width:992px) {
            position: absolute;
        }

        .header__logo--pages {
            margin: 11px 0;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
        }

        .header__button-nav {
            position: absolute;
            background-color: transparent;
            top: 0;
            border: none;
            margin: 20px 16px;
            @include sizes (32px, 32px)
        }

        .header__offcanvas {
            position: absolute;
            background-color: $black;
            color: $white;
            @include sizes (100%, 100vh);

            .header__button-close {
                border: none;
                background-color: transparent;
                @include sizes (32px, 32px)
            }

            .header__offcanvas-elements {
                color: $white;

                .header__link {
                    color: $white;
                    font-size: $nav;
                    text-decoration: none;
        
                    &:hover {
                        color: $red-logo;
                        text-shadow: 0px 0px 10px $red-logo;
                    }
                }
    
                .header__submenu {
                    background-color: $black;
                    width: 100%;
        
                    .header__sublink {
                        color: $white;
                        font-size: $text;
        
                        &:hover {
                            background-color: transparent;
                            color: $red-logo;
                            text-shadow: 0px 0px 10px $red-logo;
                        }
                    }
                }
            }    
        }
        
        .header__star {
            @include sizes (80px, 80px);

            &--mobile {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translate(-50%);
            }
        }

        .header__desktop {
            display: none;
        }
    }     
}

@media screen and (min-width: 576px) {
    .header {
        .header__offcanvas {
            @include sizes (65%, 100vh)
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .header__offcanvas {
            @include sizes (50%, 100vh)
        }
    }
}

@media screen and (min-width: 992px) {

    .header{
        display: flex;
        position: relative;
        @include sizes (100%, auto);

        &__button-nav {
            display: none;
        }

        &__offcanvas {
            display: none;
        }

        &__nav {
            width: 100%;

            .header__logo--pages {
                display: none;
            }

            .header__desktop {
                display: flex;
                align-items: center;
                width: 100%;

                .header__logo {
                    padding: 8px;
                }

                .header__menu {
                    flex-direction: row;
                    width: 100%;

                    .header__element {
                        flex: auto;
                        text-align: center;
                        position: relative;

                        .header__link {
                            color: $white;
                            font-size: $text;
                            text-decoration: none;
    
                            &:hover {
                                color: $red-logo;
                                text-shadow: 0px 0px 10px $red-logo;
                            }
                        }

                        .header__submenu {
                            background-color: transparent;
                            border: none;

                            .header__sublink {
                                color: $white;

                                &:hover {
                                    background-color: $red-logo;
                                    color: $black;
                                    text-shadow: 0px 0px 10px $red-logo;
                                }
                            }
                        }
                    }
                }

                .header__star {
                    margin: 8px;
                    @include sizes (50px, 50px)
                }
            }
        }
    }
    
}