// Tamaños
@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

// Fieldset
@mixin fieldset ($border, $padding-top, $padding-bottom, $padding-left, $padding-right) {
    border: $border;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
    padding-right: $padding-right;
}

// Animación
@keyframes spinning {
    0% {
        transform: translate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}