/* Sección Álbums */
.album {
    color: $white;

    &__title {
        text-align: center;
        color: $red-logo;
    }

    &__discography {
        display: flex;
        flex-direction: column;
        padding: 0 16px;

        @media screen and (min-width:576px) {
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(auto-fill, 1fr);
            justify-items: center;
        }

        @media screen and (min-width: 922px) {
            grid-template-columns: repeat(3, 1fr);
        }
        
        @media screen and (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }
        
        .album__disc {
                display: flex;
                align-items: center;
                margin: 10px 0;
                cursor: pointer;
    
                @media screen and (min-width:576px) {
                    flex-direction: column;
                    width: min-content;
                }

                &:hover {
                    color: $red-logo;
                    text-shadow: 0px 0px 10px $red-logo;
                }
    
                .album__image {
                    @include sizes(170px,170px);
    
                    @media screen and (min-width:576px) {
                        margin: 10px 0;
                        @include sizes (200px, 200px);
                    }
                }

                .album__name {
                    width: 100%;
                    text-align: center;
                }

                .album__button {
                    width: max-content;
                    color: $white;
                    font-size: $text;
                    background-color: $red-logo;
                    margin: 5px 0;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
        
                    &:hover {
                        background-color: $dark-red;
                    }
                }

                .album__icon {
                    width: 30px;
                    height: 30px;
                }
        }
        }
    
        &__modal {
            background-color: $black;
            border: 1px solid $red-logo;

            &-header {
                border-bottom: 1px solid $red-logo;
            }
        }
}