.carts {
    display: grid;
    grid-template-rows: 72px min-content 1fr;

    &__banner {
        grid-row: 2/3;

        @media screen and (min-width:768px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        font-size: $title;
        color: $red-logo;
        text-align: center;
    }

    &__cart {
        padding: 0 16px;
        font-size: 20px;

        @media screen and (min-width:768px) {
            position: absolute;
            right: 0;
        }

        &-link {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $red-logo;
                text-shadow: 0 0 10px $red-logo;
            }
        }
    }

    &__products-container {
        position: relative;
        color: $white;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
        max-width: 950px;
        justify-content: space-around;
        margin: 0 16px;
        margin-top: 50px;

        @media screen and (min-width: 992px) {
          width: 1080px;
          margin: 10px auto;
        }
    }

    &__product-header {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            width: 100%;
            max-width: 950px;
            justify-content: flex-start;
            border-bottom: 4px solid $white;
            margin: 0 auto;
        }
    }

    &__product-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            width: 45%;
        }
    }

    &__list {
      grid-row: 3/4;
    }

    &__price {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;

        @media screen and (min-width: 768px) {
            width: 15%;
        }
    }

    &__quantity {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 768px) {
            width: 30%;
        }

        &--valor {
            justify-content: center;
        }  
    }

    &__total {
        display: none;
        
        @media screen and (min-width: 768px) {
            width: 10%;
            display: flex;
            align-items: center;
        }
    }

    &__products {
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    &__product {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid $white;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__img {
        width: 100px;
    }

    &__total-container {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
    }

    &__total-title {
        padding-right: 10px;
    }

    &__total-item {
      width: 10%;
      text-align: center;
    }

    &__button {
        text-decoration: none;
        @include btn();
    }

    &__product-container {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #fff;
    }

    &__btns {
      grid-row: 4/5;
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 50%;
      margin: 0 auto;
    }

    &__btn {
      background-color: transparent;
      font-size: 25px;
      border: none;
      color: #fff;
      font-weight: bolder;
      margin: 0px 25px 16px 25px;
    }

    &__warning {
      text-align: center;

      &-text {
        margin: 50px 0;
      }
    }

    &__totalAllItems {
      font-size: 25px;
      text-align: center;
      margin: 10px 0;
    }
}

.hidden {
  display: none;
}

.product-title {
  justify-content: center;
}