.contact {
    display: grid;
    grid-template-rows: 72px min-content 1fr;
    color: $white;
    padding: 0 16px;

    @media screen and (min-width: 576px){
        width: 60%;
        margin: 0 auto;
    }

    @media screen and (min-width:992px) {
        width: 45%;
        max-width: 630px;
        display: block;
    }

    &__title {
        font-size: $title;
        color: $red-logo;
        text-align: center;
        grid-row: 2/3
    }

    &__form {
        grid-row: 3/4;

        .contact__personal-info {
            @include fieldset (1px solid $white, 0, 10px, 20px, 20px);
    
            .contact__legend {
                padding: 0 5px;
                margin: 0;
                float: none;
                width: auto;
            }
    
            .contact__label {
                display: block;
            }
    
            .contact__input {
                width: 100%;
            }
        }
    
        .contact__gender {
            display: flex;
            justify-content: space-between;
            @include fieldset (1px solid $white, 0, 10px, 20px, 20px);
    
            .contact__legend {
                padding: 0 5px;
                margin: 0;
                float: none;
                width: auto;
            }

            .contact__radio {
                margin: 8px
            }
        }
    
        .contact__extra-info {
            @include fieldset (1px solid $white, 0, 10px, 20px, 20px); 
    
            .contact__legend {
                float: none;
                width: auto;
                padding: 5px;
                margin: 0;
            }
            
            .contact__label {
                display: block;
            }
    
            .contact__input {
                width: 100%;
            }
        }
    
        .contact__comment {
            @include fieldset (1px solid $white, 0, 10px, 20px, 20px);
    
            .contact__legend {
                float: none;
                width: auto;
                padding: 0 5px;
                margin: 0;
            }
    
            .contact__com-box {
                width: 100%;
            }
        }
    
        .contact__suscription {
            margin-top: 15px;
            display: flex;
            width: 100%;
            align-items: center;
    
            &-button {
                margin-right: 10px;
            }
        }
    
        .contact__buttons {
            display: flex;
            margin: 15px 0;
            justify-content: space-between;

            .contact__btn {
                width: max-content;
                color: $white;
                font-size: $text;
                background-color: $red-logo;
                margin: 5px 0;
                padding: 5px 10px;
                border: none;
                border-radius: 5px;
    
                &:hover {
                    background-color: $dark-red;
                }
            }
        }
    }
}