/* Sección Eventos */
.events {
    color: $white;

    @media screen and (min-width:768px){ 
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: min-content 1fr;
    }
    @media screen and (min-width:992px){
        grid-template-columns: 2fr 3fr;
    }

    &__title {
        text-align: center;
        color: $red-logo;

        @media screen and (min-width:768px){
            text-align: left;
        }
    }

    &__img-container {
        text-align: center;
        grid-column: 2/3;
        grid-row: 1/3;
        overflow: hidden;
        @include sizes (100%, 100%);

        .events__img {
            @include sizes (100%,100%);
            object-fit: cover;
            object-position: center;
        }
    }
    
    &__list {
        list-style-position: inside;
    }
}