.payment {
    display: grid;
    grid-template-rows: 72px min-content 1fr;
    padding: 0 16px;

    @media screen and (min-width: 576px){
        width: 60%;
        margin: 0 auto;
    }

    @media screen and (min-width:992px) {
        grid-template-rows: 68px 1fr;
        width: 45%;
        max-width: 630px;
    }

    &__title {
        text-align: center;
        grid-row: 2/3;
        color: $red-logo;
    }

    &__form {
        color: $white;
        grid-row: 3/4;
    }

    &__fieldset {
        border-top: 1px solid $white;
        margin-bottom: 30px;
    }

    &__legend {
        padding-right: 5px;
        margin: 10px 0;
        float: none;
        width: auto;
    }

    &__label {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &__input {
        width: 100%;
        margin-bottom: 5px;

        &--code {
            width: 40%;
        }
    }

    &__select {
        margin-bottom: 5px;
    }

    &__button {
        text-align: center;

        &-element {
            width: max-content;
            color: $white;
            font-size: $text;
            background-color: $red-logo;
            margin: 5px 0;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
    
            &:hover {
                background-color: $dark-red;
            }
        }
    }

    

    &__modal {
        color: $black;
        text-align: left;
    }
}