.payment {
    display: grid;
    grid-template-rows: 72px min-content 1fr;
    padding: 0 16px;

    @media screen and (min-width: 576px){
        width: 60%;
        margin: 0 auto;
    }

    @media screen and (min-width:992px) {
        grid-template-rows: 68px 1fr;
        width: 45%;
        max-width: 630px;
    }

    &__banner {
        grid-row: 2/3;

        @media screen and (min-width:768px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        font-size: $title;
        color: $red-logo;
        text-align: center;
    }

    &__cart {
        padding: 0 16px;
        font-size: 20px;

        @media screen and (min-width:768px) {
            position: absolute;
            right: 0;
        }

        &-link {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $red-logo;
                text-shadow: 0 0 10px $red-logo;
            }
        }
    }

    &__form {
        color: $white;
        grid-row: 3/4;
    }

    &__fieldset {
        border-top: 1px solid $white;
        margin-bottom: 30px;
    }

    &__legend {
        padding-right: 5px;
        margin: 10px 0;
        float: none;
        width: auto;
    }

    &__label {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &__input {
        width: 100%;
        margin-bottom: 5px;

        &--code {
            width: 40%;
        }
    }

    &__select {
        margin-bottom: 5px;
    }
    
    &__card {
        display: flex;
        align-items: center;
        position: relative;

        &-label {
            margin-left: 10px;
        }
    }

    &__icons {
        position: absolute;
        right: 0;
    }

    &__button {
        text-align: center
    }

    &__button-element {
        @include btn();
    }

    &__modal {
        color: $white;
        background-color: $black;
        text-align: left;
        border: 1px solid $red-logo;

        &-header {
            border-bottom: 1px solid $red-logo;
        }

        &-footer {
            border-top: 1px solid $red-logo;
        }
    }
}