.product {
    display: grid;
    position: relative;
    grid-template-rows: 72px min-content min-content 1fr;

    @media screen and (min-width:576px) {
        width: 80%;
        margin: 0 auto;
    }

    @media screen and (min-width:992px) {
        grid-template-rows: 68px 32px 1fr;
        grid-template-columns: 2fr 3fr;
        gap: 10px;
        width: 80%;
    }

    &__cart {
        grid-row: 2/3;
        padding: 0 16px;

        @media screen and (min-width:992px) {
            position: absolute;
            right: 0;
            grid-column: 1/3;
        }
    }

    &__cart-link {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $red-logo;
            text-shadow: 0 0 10px $red-logo;
        }
    }

    &__img {
        margin: 20px 0;
        width: 250px;
        grid-row: 3/4;
        justify-self: center;

        @media screen and (min-width:992px) {
            width: 350px;
            align-self: center;
            grid-row: 3/4;
            grid-column: 1/2;
        }
    }

    &__section {
        grid-row: 4/5;
        padding: 0 16px;
        color: $white;
        max-width: 520px;

        @media screen and (min-width:992px) {
            grid-row: 4/3;
            grid-column: 2/3;
        }
    }

    &__name {
        color: $red-logo;
    }

    &__quantity {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__subtitle {
        display: block;
        width: 100%;
        text-align: center;
    }

    &__button-quantity {
        margin: 0 8px;
        width: 25px;
        height: 25px;
    }

    &__buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width:576px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__button {
        width: max-content;
        color: $white;
        font-size: $text;
        background-color: $red-logo;
        margin: 5px 0;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;

        &:hover {
            background-color: $dark-red;
        }
    }

    &__toast {
        width: 100%;

        @media screen and (min-width:576px) {
            width: auto;
        }

        &-container {
            border: 1px solid $red-logo;
        }

        &-header {
            color: $white;
            background-color: $black;
            border-bottom: 1px solid $red-logo;
        }

        &-body {
            background-color: $black;
        }
    }
}